@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-width: 4rem;
  --sidebar-width: 33vw;
  --panel-padding: 1.25rem;
}

th{
  font-weight:normal;
}


@layer components {
  .nav-link{
    @apply flex items-center justify-start w-full h-20 hover:bg-emerald-100 p-2;
  }

  .nav-icon, 
  .nav-label{
    @apply text-gray-500  group-hover:text-emerald-500;
  }

  .border-divide{
    @apply divide-y divide-gray-300 border-b;
  }
  .border-top{
     @apply border-t border-gray-300;
     border-top-width: 1px;

  }
}


.leaflet-tooltip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.leaflet-interactive:focus {
    outline: none !important;
}


.axisColor line, 
.axisColor path{
    stroke: #6B7280;
    stroke-width: 2;
}

.axisColor text{
    fill: #6B7280;
}

.capitalize-axis {
    text-transform: capitalize;
}

.gridColor .tick line {
    stroke: #E0E0E0;
    stroke-width: .5;
}

.kdeFill{
    opacity: 0.7;
    stroke-width: 2;
    stroke-linejoin: round;
}

.bisector{
    stroke: #000000;
    stroke-width: 1;
    stroke-dasharray: 3,3;
}

.tooltip {
    position: absolute;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
}

.tooltip.visible {
    opacity: 1;
}

/* ------------------------------------------- animations */
@keyframes slideInL {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.slideInL {
    animation: slideInL 0.5s;
}

@keyframes slideInR {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0%); opacity: 1; }
}

.slideInR {
    animation: slideInR  0.5s;
}

.fullscreen-back{
    animation: fadeIn 0.2s ease-out;
}

.fullscreen-panel{
    animation: scaleIn 0.2s ease-out;
}

@keyframes fadeIn{
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes scaleIn{
    from { opacity: 0; transform: scale(0.95);}
    to { opacity: 1; transform: scale(1);}
}

