@tailwind base;
@tailwind components;
@tailwind utilities;

th{
  font-weight:normal;
}


@layer components {
  .nav-link{
    @apply flex items-center justify-start w-full h-20 hover:bg-emerald-100 p-2;
  }

  .nav-icon, 
  .nav-label{
    @apply text-gray-500  group-hover:text-emerald-500;
  }

  .border-divide{
    @apply divide-y divide-gray-300 border-b;
  }
  .border-top{
     @apply border-t border-gray-300;
     border-top-width: 1px;

  }
}


@keyframes slideInL {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.slideInL {
  animation: slideInL 0.5s;
}

@keyframes slideInR {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0%); opacity: 1; }
}

.slideInR {
  animation: slideInR  0.5s;
}

.leaflet-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.leaflet-interactive:focus {
  outline: none !important;
}

/* ------------------------------------------- graph axis styling */
.axisColor line, 
.axisColor path{
  stroke: #6B7280;
  stroke-width: 2;
}

.axisColor text{
  fill: #6B7280;
  font-size: 16px;
}